<?xml version="1.0" encoding="UTF-8"?>


<suite name="Automation Testing Report">

	<test name="Login test with invalid email">
		<classes>
			<class name="LearnTestngXML.TestOne"></class>
		</classes>
	</test>

	<test name="Login test with valid email">
		<classes>
			<class name="LearnTestngXML.TestOne2"></class>
		</classes>
	</test>


	<test name="Login test with valid id">
		<classes>
			<class name="LearnTestngXML.TestOne3"></class>
		</classes>
	</test>
	
	
</suite>